name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  job1:
    runs-on: ubuntu-latest
    name: build and deploy to minikube
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Start Kubernetes minikube
        uses: medyagh/setup-minikube@master

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

      - name: Build test and build docker image
        run: |
          export SHELL=/bin/bash
          eval $(minikube -p minikube docker-env)
          cd AppBackEnd
          docker build -t huitingfeng/appbackend:8.0 .
          docker push huitingfeng/appbackend:8.0
          docker images
          cd ..

      - name: Deploy the image to minikube
        run:
          kubectl apply -f app-configMap.yaml -f app-deployment.yaml -f db-configMap.yaml -f db-deployment.yaml
          
      - name: Wait for container initialization
        run: sleep 120

      - name: Check pods, deployments, services status
        run: kubectl get pods,deployments,svc

      - name: Get Kubernetes appbackend-service URL
        run: |
          kubectl get pods
          POD_BACKEND_NAME=$(kubectl get pods -l app=appbackend -o jsonpath="{.items[0].metadata.name}")
          kubectl describe pod $POD_BACKEND_NAME
          kubectl logs $POD_BACKEND_NAME
          POD_FRONTEND_NAME=$(kubectl get pods -l app=appfrontend -o jsonpath="{.items[0].metadata.name}")
          kubectl describe pod $POD_FRONTEND_NAME
          kubectl logs $POD_FRONTEND_NAME
          POD_MYSQL_NAME=$(kubectl get pods -l app=mysql -o jsonpath="{.items[0].metadata.name}")
          kubectl describe pod $POD_MYSQL_NAME
          kubectl logs $POD_MYSQL_NAME
          minikube service list
          minikube service appbackend-service --url
          echo "------------------opening the service------------------"

      - name: Test Kubernetes appbackend-service URL
        uses: nick-fields/retry@v2
        with:
          timeout_seconds: 10
          max_attempts: 4
          command: curl $(minikube service appbackend-service --url)/student/getAll